
html {
    box-sizing: border-box;
    margin:-8px;
}

.header-container {
    background-color:#1F2937;
    color:white;
}

.header {
    display:flex;
    justify-content:center;
    gap:20px;
    padding:20px 70px 20px 100px;
}


.link-1 {
  margin-left:auto;
  font-size:18px;
}

.link {
    font-size:18px;
}

.logo {
    font-size:24px;
    color:#F9FAF8;
}

.mixed-container {
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap:70px;
    padding:5px 10px 80px 100px;
}

.text-container {
    display:flex;
    flex:1 1 0;
    flex-direction:column;
}

h1 {
    font-size:48px;
    font-weight:bold;
}

.text {
    font-size:18px;
}

.head-button {
    width:80px;
    background-color:#3882f6;
    color:white;
    padding:6px;
    margin-top:10px;
    border-radius:5px;
    border:none;
    font-size:18px;
}


.france {
    display:block;
    height:200px;
    width:auto;
    flex:1 1 0;
    padding:40px 0px 0px 20px;
}


.title {
    font-size:36px;
    text-align:center;
    padding:30px 20px 20px 20px;
    font-weight:bolder;
    color:#1F2937;
}

.middle-image-container {
    display:flex;
    flex:1 1 0;
    align-items:flex-start;
    width:700px;
    height:260px;
    justify-content:center;
    margin:0px auto;
}


.middle-container {
    display:flex;
   justify-content:center;
    flex-direction:column;
    flex:1 1 0;
    align-items:center;  
    gap:5px;
    width:110px;
}

img {
    display:block;
    height:110px;
    width:auto;
}

.middle-text {
    font-size:13px;
    width:150px;
    text-align: center;
}

.third-container {
    margin:0;
    background-color:#E5E7EB;
    display:flex;
    flex-direction:column;

}

.text-area {
    
}