
html {
    box-sizing: border-box;
    margin:-8px;
}

.header-container {
    background-color:#1F2937;
    color:white;
}

.header {
    display:flex;
    justify-content:center;
    gap:20px;
    padding:20px 70px 20px 100px;
}


.link-1 {
  margin-left:auto;
  font-size:18px;
}

.link {
    font-size:18px;
}

.logo {
    font-size:24px;
    color:#F9FAF8;
}

.mixed-container {
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap:70px;
    padding:5px 10px 80px 100px;
}

.text-container {
    display:flex;
    flex:1 1 0;
    flex-direction:column;
}

h1 {
    font-size:48px;
    font-weight:bold;
}

.text {
    font-size:18px;
}

.head-button {
    width:80px;
    background-color:#3882f6;
    color:white;
    padding:6px;
    margin-top:10px;
    border-radius:5px;
    border:none;
    font-size:18px;
}


.france {
    display:block;
    height:200px;
    width:auto;
    flex:1 1 0;
    padding:40px 50px 0px 20px;
}


.title {
    font-size:36px;
    text-align:center;
    padding:30px 20px 20px 20px;
    font-weight:bolder;
    color:#1F2937;
}

.middle-image-container {
    display:flex;
    flex:1 1 0;
    align-items:flex-start;
    width:700px;
    height:190px;
    justify-content:center;
    margin:0px auto;
}


.middle-container {
    display:flex;
   justify-content:center;
    flex-direction:column;
    flex:1 1 0;
    align-items:center;  
    gap:5px;
    width:110px;
}

img {
    display:block;
    height:110px;
    width:auto;
}

.middle-text {
    font-size:13px;
    width:150px;
    text-align: center;
}

.third-container {
    margin:-8px;
    background-color:#E5E7EB;
    display:flex;
    flex-direction:column;
    height:180px;
    justify-content: center;
    align-items: center;
    gap:13px;
}

.text-area {
    text-align:flex-start;
    width:400px;
    font-style: italic;
}

.name {
    font-weight:bold;
    margin-left:300px;
}

.box-container {
    display:flex;
    align-items:center;
    justify-content: center;
    padding:50px;
}

.fourth-container {
    display:flex;
    height:120px;
    justify-content:space-evenly;
    align-items: center;
    color:white;
    background-color:blue;
    width:600px;
    gap:40px;
    border-radius:5px;

}

.small-container {
    gap:10px;
    display:flex;
    flex-direction:column;
}

.one-head {
    font-weight:bolder;
}

.one-button {
    background-color:blue;
    border:1px solid white;
    color:white;
    border-radius:5px;
    font-weight:bolder;
    padding:3px;
    width:90px;
}

.footer {
    display:flex;
    background-color:#1F2937;
    height:60px;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:12px;
    margin:-8px;
}